.post-tabs {
  padding: 0px;
}

.author-name {
  font-weight: 600;
}

.comment-date {
  font-size: 12px;
}

.comment-btns {
  text-align: right;
  padding-right: 0px;
}

.comment-box{
  padding-bottom: 0px;
}

.comment-input {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.max-100 {
  max-width: 100%
}
