### Editors ###
.vscode/
.settings
.project

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
.idea/
.idea_modules/
/out/
*.ipr
*.iws
*.iml

### mac os x ####
.DS_Store

## WordPress ##
wordpress/wp-admin
wordpress/wp-includes
wordpress/wp-content/debug.log

# Ignore wordpress plugins
wordpress/wp-content/themes/*

# do not ignore FAM theme
!wordpress/wp-content/themes/wp-web-app


# Ignore all plugins ...
wordpress/wp-content/plugins/*

# wordpress/wp-content/fam/static_maps/

## ...except the pre-instaled plugins
!wordpress/wp-content/plugins/disable-comments
!wordpress/wp-content/plugins/remote-medias-lite
!wordpress/wp-content/plugins/wp-mail-smtp
!wordpress/wp-content/plugins/extra-user-details
!wordpress/wp-content/plugins/jwt-authentication-for-wp-rest-api
!wordpress/wp-content/plugins/wp-api-menus
!wordpress/wp-content/plugins/admin-columns-pro
!wordpress/wp-content/plugins/advanced-custom-fields-pro
!wordpress/wp-content/plugins/custom-post-type-ui
!wordpress/wp-content/plugins/acf-to-rest-api
!wordpress/wp-content/plugins/wp-options-editor
!wordpress/wp-content/plugins/classic-editor
!wordpress/wp-content/plugins/acf-field-openstreetmap


## Do not ignore wpp plugin
!wordpress/wp-content/plugins/wp-web-app

# Ignore files that contains custom enviroment config/data
wordpress/wp-config.php
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/wp-cache-config.php
wordpress/wp-content/backup-db/
wordpress/wp-content/backups/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/mu-plugins/

wordpress/.htaccess
wordpress/license.txt
wordpress/readme.html
wordpress/sitemap.xml
wordpress/sitemap.xml.gz

# Do not version the db files #
wordpress/db/*
!wordpress/db/.gitkeep

## keys ##
keys/

## Scripts ##
scripts/clean-docker-images.sh

## Web apps ##
webapp/*/node_modules/*
webapp/*/test/unit/coverage/*
