# 2 days
#<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
#    Header set Cache-Control "max-age=1209600, private"
#</FilesMatch>

<IfModule mod_speling.c>
    CheckCaseOnly on
    CheckSpelling on
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^costadocacauemduasrodas(.*) costadocacau/$1 [QSA,L,R=301]

RewriteRule ^index\.php$ - [L]

# add a trailing slash to /wp-admin
RewriteRule ^admin$ wp-admin/ [R=301,L]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
# RewriteCond %{REQUEST_URI} !^/static
# RewriteCond %{REQUEST_URI} !^/wp-admin
# RewriteCond %{REQUEST_URI} !^/wp-content
# RewriteCond %{REQUEST_URI} !^/wp-json
RewriteRule . index.php [L]
</IfModule>
# END WordPress

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1


# ORIGINAL BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
</IfModule>
# END WordPress






