/* Customize the ORS header menu */

.app-btn-mh {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-transform: capitalize !important;
  content: unset !important;
}

.app-btn-mh > .v-btn__content {
  font-weight: 600;
  font-size: 16px !important;
}


.app-hm-list .app-btn-mh .v-btn__content {
  padding-left: 0px;
  text-align: left;
  display: block;
  font-size: 16px !important;
}

.app-btn-mh > .v-btn__content:before {
 opacity: 0;
}

.wpp-toolbar .app-btn-mh:hover > .v-btn__content:after, .wpp-toolbar .app-btn-mh > .v-btn__content:hover:after, .wpp-toolbar .app-btn-mh.active > .v-btn__content:after {
  position: absolute;
  bottom: 30px;
  left: 50%;
  content: '';
  width: 20px;
  height: 2px;
  margin-left: -10px;
}

.wpp-toolbar .app-btn-mh.has-icon:hover > .v-btn__content:after {
  background-color: transparent
}

.list__tile .app-btn-mh > .v-btn__content:hover:after {
  position: absolute;
  bottom: 1px;
  left: 0;
  content: '';
  width: 20px;
  height: 2px;
  margin-left: 0px;
  background-color: #678713;
}

.hm-content {
  margin-top: -10px;
}

/* End customize the ORS header menu */
