html, body {
	height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
	
	font-size:12px;
	line-height:1.5;
	color:#333;
	margin:0;
	min-height:100%;
}
h1 {font-size:18px;}
hr {display:none;}
a {color:#069;}
blockquote {
	border-left:2px solid #ddd;
	margin:0 0 0 5px;
	padding-left:5px;
}
ul, ol {
	margin-left: 40px;
}
p, li {
	margin: 0 0 10px;
}

#wraper
{
	min-height: 100%;
}

.top-and-content {
	/*padding-bottom:90px;*/
}


#content
{
	
}
.top{
	background: url("../img/cinta_repeat.png") repeat scroll 0 -1px #000;
    height: 50px;
	border-bottom:3px solid gray;
    /*position:fixed;added
    left:0px;added
    top:0px;added
    z-index:14;added
    width:100%;added
    border-top:1px solid gray; added*/
    position:absolute;
    position:fixed;
    width:100%;
    z-index:14;
   
}
.small {
	font-size:10px;
	line-height:2;
}
.hide {
	display: none;
}
.clear {
	clear: both;
	float: none;
}
.table-title,
.content {
	color:#777;
	font-size:1em;
	line-height:1.5;
	margin:10px;
	text-shadow: 1px 1px 2px #fff;
}
.table-title {
	margin-top:20px;
}
.group {
	
	overflow:hidden;
	margin:10px;
	padding: 10px;
}
ul.table.group {
	margin:10px;
	padding:0;
    margin-top:0px !important;
}
ul.table {
	clear:both;
	color:#999;
	list-style:none;
	margin:0;
}
ul.table li {
	padding:15px;
}
ul.table li:last-child {border:0;}
ul.table.disclosure li,
ul.table li.disclosure {
	margin: 0;
	padding:0;
		
}
ul.table.disclosure a,
ul.table li.disclosure a {
	border: 0 none;
    color: #000000;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 12px 20px;
    text-decoration: none;
    background:url(../img/disclosure.png) no-repeat right center;
    
}
ul.table.disclosure a .date,
ul.table li.disclosure a .date {
	color: #666;
	font-size: 11px;
	white-space: nowrap;
}
ul.table li .title {
	background: #a5a5a5 url(../img/title-dimple.gif) repeat-x top;
	border-bottom:1px solid #777;
	color: #fff;
	display: block;
	font-size: 10px;
	font-weight:normal;
	padding: 3px 8px;
	text-shadow: 0 1px 1px #555;
}
.title-divider {
	background:url(../img/title-divider.png) repeat-x center;
	color:#999;
	font-size:10px;
	font-weight:normal;
	margin:0 -15px 10px -15px;
}
.title-divider span {
	background:#fff;
	margin:0 0 0 10px;
	padding: 0 5px;
}

.notification {
	background:#fffdc2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:10px 0;
	padding:10px;
}

#site-name {
	/*background:#666 url(../img/header-gloss.png) repeat-x center;*/
	/*border-bottom: 1px solid #999;*/
	line-height: 1.2;
	margin:0;
}
#site-name span {
	display:none;
}
#site-name img {
	border:none;
}
#site-name a {
	/*background: transparent url(../img/home.png) no-repeat 10px center;*/
	color:#fff;
	display:block;
	font-size:16px;
	padding:5px 8px;
	width: 300px;
}
#navigation-top {
	display:none;
}
.pagination {
	background:#fff;
	border:1px solid #ccc;
	border-width:0 1px 1px;
	clear:both;
	margin:0 10px;
	overflow:hidden;
}
.pagination span {
	display:none;
}
.pagination span.next,
.pagination span.prev {
	display:block;
	width:50%;
}
.pagination span.prev {
	float:right;
}
.pagination span.next {
	float:left;
}
.pagination .next a,
.pagination .prev a {
	border:5px solid #fff;
	display:block;
	height:1.5em;
	overflow:hidden;
	text-decoration:none;
}
.pagination .next a,
ul.table.disclosure .pagination .next a {
	background: url(../img/disclosure-left.png) no-repeat left center;
	border-right:1px solid #ddd;
	border-left:0;
	padding-left:35px;
}
.pagination .prev a,
ul.table.disclosure .pagination .prev a {
	background: url(../img/disclosure.png) no-repeat right center;
	border-left:1px solid #fff;
	border-right:0;
	padding-right:35px;
	text-align:right;
}

#next-prev-bottom,
#navigation-bottom {display:none;}

input[type="button"], input[type="submit"], .btn_mobile
{		
    border: medium none;
    -webkit-appearance: none;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    align-items: flex-start;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(33, 117, 155);
    background-image: linear-gradient(rgb(42, 149, 197), rgb(33, 117, 155));
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(30, 106, 141);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(33, 117, 155);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(33, 117, 155);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(33, 117, 155);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;    
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 40px;
    letter-spacing: normal;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
    text-transform: none;
    white-space: nowrap;
    width: 130px;
    word-spacing: 0px;
    
}

#search {
	margin: 0;
}
#search input {
	
}

#search input[type=text] {
    height: 30px;
}

#s {
	width: 50%;
}

.tabbed
{
	
}

.tabbed.group {
	padding:0;
}
.tabbed ul.tabs{
	background:url(../img/title-divider.png) repeat-x bottom;
	list-style:none;
	margin: 0 10px;
	overflow:hidden;
}
.tabbed .tabs li {
	float:left;
	margin-bottom: 0;
	width:50%;
}
.tabbed .tabs li a{
	background:#d5d5d5 url(../img/tab.gif) repeat-x bottom;
	color:#333;
	display:block;
	padding: 7px;
	text-decoration:none;
}
.tabbed .tabs li.active a {
	background-color:#fff;
	background-image:url(../img/tab-active.gif);
}
.commentlist {
	margin:0 -10px;
}
.commentlist li {
	background:url(../img/comment.png) no-repeat 10px 10px;
	border-bottom:1px solid #ddd;
	font-size:11px;
	margin:0;
	padding:10px 10px 10px 30px;
}
.commentlist li:last-child {border:0;}
.commentlist li .comment-info {
	color:#999;
	margin:0;
}
.commentlist li .comment-info cite {
	font-weight:bold;
}
#respond .title-divider {
	margin-bottom:5px;
	margin-top:5px;
}
#respond label {display:block;}
#respond textarea,
#respond input[type=text] {
	width:95%;
}

#socialmedia
{
	margin:auto;
	width:140px;
}

#socialmedia .twitter
{
	float: left;
    
}

#socialmedia .facebook
{
	float: right;
    
}

#socialmedia img
{
}
.fblike
{	
	margin-left:20px;
    width: 100%;
    
}

#footer {
	color: #696965;
    height: 60px;
    padding-top:10px;
	padding-bottom:10px;
    text-align: center;
	width:100%;
	border-top:7px solid #333;
	margin-top:10px;
	position:relative;
    float: left;
}
#footer a {color:#333!important;text-decoration:none;}
#footer p#developer-link {
	display:block;
	text-indent:-32697px;
}
#footer p#developer-link a,
#footer p#developer-link a:visited {
	background:url(../img/by-crowd-favorite.gif) no-repeat left top;
	float:right;
	height:30px;
	text-indent:-32697px;
	width:220px;
}

.copyright
{
}

/* rounded goodness */
.group {
	
	
}
.tabbed ul.table.group {
	border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
}

.pagination .next a,
ul.table.disclosure .pagination .next a {
	border-bottom-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
}
.pagination .prev a,
ul.table.disclosure .pagination .prev a {
	border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
}
.pagination {
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
}
.tabbed .tabs li:first-child a {
	border: 1px solid #ccc;
	border-width: 1px 1px 0;
	border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
}
.tabbed .tabs li:last-child a {
	border: 1px solid #ccc;
	border-width: 1px 1px 0 0;
	border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
}

.pages-link {
	margin:2em 0;
	word-spacing:.25em;
}
.pages-link a {
	background:#d7d7d7;
	border:1px solid #ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	color:#333;
	padding:.3em .5em;
	text-decoration:none;
}


/* formularios */

.wpcf7 input[type=text], textarea {
    width: 100%;   
}

.wpcf7  input[type=text], .wpcf7 select {
   height: 30px;
   
}

.wpcf7 select {
    width: 100%;
    height: 25px;
}

.wpcf7-list-item {
    width: 100%;
    float: left;
}

.questionTitle {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    float: left;
}

.wpcf7-not-valid-tip-no-ajax {
    color: red;
}

.wpcf7-list-item label {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin-bottom: 5px;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 100%;
    padding-left: 7px;
}

.wpcf7-list-item input {
    margin-left: 0px;
}

.listpostsMobile .postItem {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
    border-bottom: 1px dashed;
}


