.box {
  transition:all 1s ease;
}

.fill-height {
  height: 100%;
}

.box-header{
  min-height: 50px;
  padding: 10px;
  border-bottom: 1px solid #cbced1;
}

.right-btn-icon {
  cursor: pointer;
  float:right
}
.shadow {
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.box.maximized {
  position: fixed;
  top: 0px;
  left: 5px;
  z-index: 1002; /* when the box is maximized it must have a higher z-index then the floating menu */
  right: 5px;
  margin-top: 0px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  bottom: 5px;
  overflow-y: scroll;
}
.box-content.maximized >>> div {
  margin-top: 0px;
}

.box-footer {
  padding-left: 10px;
  padding-right: 10px;
}

/* Set the box content padding according the media size  */
@media (max-width: 599px) {
  .box-content {
    padding: 5px;
  }
}
@media (min-width: 600px) {
  .box-content {
    padding: 10px;
  }
}
