.home .app-tab {
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  min-height: 400px;
  background: white;
}

.home .box-content {
  width: 100%;
}

.table-container td, .table-container th {
  word-break: break-all;
  padding: 0 5px !important;
}

.home .table-container .table__overflow {
  overflow: hidden !important
}


