.post {
  text-align: left;
}

.post-tabs {
  padding: 0px;
}

.post-sponsored {
  text-transform: capitalize
}

.cat-and-tgs {
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid  lightgray
}
.html-content {
  overflow: hidden;
}

.html-content >>> *:not(h1):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-size: 16px;
}

.html-content >>> h1, h2, h3, h4, h5, h6 {
  font-size:initial
}

.html-content >>> h2 {
  padding-bottom: 13px;
}

.html-content >>> h3 {
  padding-bottom: 8px;
}

.html-content >>> blockquote {
  padding-left: 10px;
  font-style:italic
}



.html-content >>> li {
  margin-bottom: 20px;
}

.html-content >>> p.wp-caption-text {
  font-size: 14px;
}

.html-content >>> .wp-caption {
  text-align: center;
  border: 1px solid #ddd;
  background: #f3f3f3;
  padding: 3px;
  border-radius: 3px;
  margin-right: 10px;
  max-width: 100%;
  margin-bottom: 30px;
}

.html-content >>> .wp-caption img {
  border-bottom: 1px solid #ddd;
  max-width: 100%;
  height: auto;
}

.html-content >>> a {
  font-weight: 600;
}

.report-error {
  margin-left:0px;
  text-transform: none !important;
}

