.post-map >>> .map-legend, .post-map >>> .map-show-route-stops {
  background: rgba(0, 0, 0, 0.4);
  padding: 3px;
}

.post-map >>> .map-legend > .item-container, .post-map >>> .map-show-route-stops > .show-places-container {
  display: inline-block;
  color: white;
  font-weight: 600;
}

.post-map >>> .map-legend > .item-container > i {
  display: inline-block;
  height: 10px;
  width: 40px;
  border: 1px solid antiquewhite;
  margin-right: 5px;
}


.post-map >>> .map-show-route-stops > .show-places-container > span {
  height: 15px;
  width: 15px;
  border: 1px solid antiquewhite;
  background-color: black;
  color: white;
  float: left;
  margin-right: 5px;
  text-align: center;
  line-height: 100%;
  font-size: 11px;
}

.post-map >>> .map-show-route-stops > .show-places-container {
  cursor: pointer;
}

.map-place-holder {
  background-color: #e0e0e0;
}

.map-place-holder-title {
  text-align: center;
  padding-top: 10px;
}



